.star-rating {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.star-rating > * {
    font-size: 3rem;
}

.star-rating > *.active {
    color: gold;
}